# Node modules
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# React build
frontend/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db